<img style="float: left;;" src='Imagenes/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Introducción a Python: Listas, Iteraciones y Strings


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.python.org/static/community_logos/python-logo.png" width="200px" height="200px" />

> Ya conocemos un poco más de la sintaxis de Python, como hacer funciones y como usar condicionales. Es hora que veamos otros tipos de variables (arreglos) y cómo hacer líneas de código que ejecuten operaciones repetitivas.

Referencias:
- https://www.kaggle.com/learn/python
___

# 1. Listas

Las listas son objetos en Python representan secuencias ordenadas de valores. 

Veamos un par de ejemplos de como crearlas:

In [1]:
# Primeros números primos
primos = [2, 5, 3, 7]
# Planetas del sistema solar
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [2]:
print(primos)

[2, 5, 3, 7]

In [3]:
primos

[2, 5, 3, 7]

In [4]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

Vemos que las listas no son exclusivamente de números. 

Ya vimos listas de números, pero también de strings.

Incluso, se pueden hacer listas de listas:

In [6]:
lista_diferentes_tipos = [primos, planetas]
lista_diferentes_tipos

[[2, 5, 3, 7],
 ['Mercurio',
  'Venus',
  'Tierra',
  'Marte',
  'Jupiter',
  'Saturno',
  'Urano',
  'Neptuno']]

In [7]:
type(lista_diferentes_tipos)

list

Aún más, se pueden hacer listas de diferentes tipos de objetos:

In [8]:
lista_dif_obj = [2.0, 0, 'Hola', help, primos]
lista_dif_obj

[2.0,
 0,
 'Hola',
 Type help() for interactive help, or help(object) for help about object.,
 [2, 5, 3, 7]]

Sin duda, en muchas ocasiones nos será muy útil tener una sola lista guardando varios resultados, que muchos resultados guardados en objetos individuales.

Pero, una vez en la lista, ¿cómo accedemos a los objetos individuales?

## 1.1 Indizado

Podemos acceder a los elementos individuales pertenecientes a la lista a través de brackets ([])

Por ejemplo, ¿cuál planeta está más cercano al sol en nuestro sistema solar?

- Acá una nota importante: Python usa índices comenzando en cero (0):

In [10]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [9]:
# Planeta más cercano al sol
planetas[0]

'Mercurio'

In [11]:
# Siguiente planeta
planetas[1]

'Venus'

In [12]:
planetas[2]

'Tierra'

Todo bien...

Ahora, ¿cuál es el planeta más alejado del sol?

- Los elementos de una lista pueden tambien ser accedidos de atrás para adelante, utilizando números negativos:

In [13]:
# Planeta más alejado del sol
planetas[7]

'Neptuno'

In [14]:
planetas[-1]

'Neptuno'

In [15]:
# Segundo planeta más alejado
planetas[-2]

'Urano'

Muy bien...

Y si quisiéramos averiguar, por ejemplo, ¿cuáles son los tres planetas más cercanos al sol?

In [16]:
# Tres primeros planetas
planetas[0],planetas[1],planetas[2]

('Mercurio', 'Venus', 'Tierra')

In [17]:
planetas[0:3] # desde el indice 2 hasta el indice 3-1(2)

['Mercurio', 'Venus', 'Tierra']

Entonces `lista[a:b]` es nuestra manera de preguntar por todos los elementos de la lista con índice comenzando en `a` y continuando hasta `b` sin incluir (es decir, hasta `b-1`).

Los índices de comienzo y de término son opcionales:
- Si no ponemos el índice de inicio, se asume que es cero (0): `lista[:b] == lista[0:b]`

In [18]:
# Reescribir la expresión anterior
planetas[0:3] == planetas[:3]

True

In [19]:
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

In [20]:
planetas[:3]

['Mercurio', 'Venus', 'Tierra']

- Equivalentemente, si no ponemos el índice de fin, se asume que este equivale a la longitud de la lista:

In [21]:
# Lista de todos los planetas comenzando desde el planeta tierra
planetas[2:8]

['Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [22]:
planetas[2:]

['Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [23]:
len(planetas)

8

También podemos usar índices negativos cuando accedemos a varios objetos.

Por ejemplo, ¿qué obtenemos con las siguientes expresión?

In [24]:
planetas[:-2] # regresa todos los elementos apartir de 0 hasta (-2-1 = -3 ---> saturno)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno']

```python
lista[n:n + N] = [lista[n], lista[n + 1], ..., lista[n + N - 1]]
```

In [25]:
n=2
N=3
planetas[n:n+N]

['Tierra', 'Marte', 'Jupiter']

Slice:

```python
lista[n:n+N:s] = [lista[n], lista[n + s], lista[n + 2 * s], ..., ]
```

In [26]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [28]:
planetas[0:5:2]

['Mercurio', 'Tierra', 'Jupiter']

In [29]:
planetas[0:5:3]

['Mercurio', 'Marte']

In [30]:
# Elementos de la lista en reverso (al revés)
planetas[::-1]

['Neptuno',
 'Urano',
 'Saturno',
 'Jupiter',
 'Marte',
 'Tierra',
 'Venus',
 'Mercurio']

In [37]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [38]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

## 1.2 Modificando listas

Las listas son objetos "mutables", es decir, sus objetos pueden ser modificados directamente en la lista.

Una manera de modificar una lista es asignar a un índice.

Por ejemplo, supongamos que la comunidad científica, con argumentos basados en la composición del planeta, decidió modificar el nombre de "Planeta Tierra" a "Planeta Agua".

In [31]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [33]:
planetas[2] = 'Agua'

In [34]:
planetas

['Mercurio',
 'Venus',
 'Agua',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

También podemos cambiar varios elementos de la lista a la vez:

In [40]:
planetas[:4] = ['Mer', 'Ven', 'Tie', 'Mar']

In [41]:
planetas

['Mer', 'Ven', 'Tie', 'Mar', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [42]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

## 1.3 Funciones sobre listas

Python posee varias funciones supremamente útiles para trabajar con listas.

`len()` nos proporciona la longitud (número de elementos) de una lista:

In [43]:
# función len()
len(planetas), len(primos)

(8, 4)

`sorted()` nos regresa una versión ordenada de una lista:

In [44]:
# Ayuda en la función sorted
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [45]:
# Llamar la función sorted sobre primos
primos

[2, 5, 3, 7]

In [46]:
sorted(primos)

[2, 3, 5, 7]

In [48]:
sorted(primos, reverse=True)

[7, 5, 3, 2]

In [49]:
# Llamar la función sorted sobre planetas
sorted(planetas)

['Jupiter',
 'Marte',
 'Mercurio',
 'Neptuno',
 'Saturno',
 'Tierra',
 'Urano',
 'Venus']

In [50]:
sorted(planetas, reverse=True)

['Venus',
 'Urano',
 'Tierra',
 'Saturno',
 'Neptuno',
 'Mercurio',
 'Marte',
 'Jupiter']

In [51]:
def long_str(s):
    return len(s)

In [52]:
sorted(planetas, key = long_str)

['Venus',
 'Marte',
 'Urano',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Mercurio']

In [53]:
len('saskjaja')

8

In [54]:
sorted(planetas, key = long_str, reverse=True)

['Mercurio',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Tierra',
 'Venus',
 'Marte',
 'Urano']

**Paréntesis: Funciones anónimas**

Las funciones anónimas comienzan con la palabra clave `lambda` seguidas por el (los) argumento(s) de la función. Después de `:` se escribe lo que retorna la función.

In [56]:
def long_str(s):
    return len(s)

In [55]:
long_str2 = lambda s: len(s) #Función anónima, funciones tipo lambda

In [57]:
sorted(planetas, key = long_str2, reverse=True)

['Mercurio',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Tierra',
 'Venus',
 'Marte',
 'Urano']

In [58]:
sorted(planetas, key = lambda s: len(s), reverse=True)

['Mercurio',
 'Jupiter',
 'Saturno',
 'Neptuno',
 'Tierra',
 'Venus',
 'Marte',
 'Urano']

`sum()`, ya se imaginarán que hace:

In [59]:
# Ayuda en la función sum
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [62]:
primos

[2, 5, 3, 7]

In [61]:
# sum
sum(primos)

17

En la clase pasada utilizamos las funciones `min()` y `max()` sobre varios argumentos.

También le podemos pasar un solo argumento tipo lista.

In [63]:
# min
min(primos)

2

In [64]:
# max
max(primos)

7

___
## Pausa: Objetos

Hasta ahora he venido utilizando la palabra **objeto** sin darle mucha importancia. ¿Qué significa en realidad?

- si han visto algo de Python, pueden haber escuchado que todo en Python es un objeto.

En la siguiente semana estudiaremos a nivel muy básico qué es la programación orientada a objetos.

Por ahora, nos basta con saber que los objetos cargan varias "cosas" con ellos, y podemos acceder a estas "cosas" utilizando la "sintaxis punto (.)" de Python.

Por ejemplo, los números en Python tienen una variable asociada llamada `imag`, la cual representa su parte imaginaria:

In [65]:
# Atributos real e imag
a = 7

In [66]:
type(a)

int

In [68]:
a.imag, a.real

(0, 7)

Entre las "cosas" que los objetos cargan, también pueden haber funciones. 

Una función asociada a un objeto se llama **método**.

Las "cosas" asociadas a los objetos, que no son funciones, son llamados **atributos** (ejemplo: imag).

In [70]:
# Método conjugate()
a.denominator, a.numerator # (7/1 = 7)

(1, 7)

In [71]:
b = (6 + 5j)/3
b

(2+1.6666666666666667j)

In [72]:
b.real, b.imag

(2.0, 1.6666666666666667)

In [73]:
b.conjugate()

(2-1.6666666666666667j)

Y si no sabemos qué hace un método determinado en un objeto, también podemos pasar métodos a la función `help()`, de la misma manera en que le pasamos funciones:

In [74]:
# help(objeto.metodo)
help(b.conjugate)

Help on built-in function conjugate:

conjugate(...) method of builtins.complex instance
    complex.conjugate() -> complex

    Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

Bueno, ¿y esto de que nos sirve?

Pues las listas tienen una infinidad de métodos útiles que estaremos usando...
___

## 1.4 Métodos de las listas

`list.append()` modifica una lista añadiéndole un elemento en el final:

In [75]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [76]:
# Plutón también es un planeta
planetas.append('Pluton')

In [77]:
def agregar_a_lista(lista_1, valor_nuevo):
    lista_1[-1] = valor_nuevo
    return lista_1

In [79]:
agregar_a_lista(planetas, 'plt')

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'plt']

¿Porqué no obtuvumos una salida en la celda de arriba?

Verifiquemos la documentación del método append:

**Comentario:** append es un método de todos los objetos tipo `list`, de manera que habríamos podido llamar `help(list.append)`. Sin embargo, si intentamos llamar `help(append)`, Python nos dirá que no existe nada con el nombre "append", pues `append` solo existe en el contexto de listas.

In [80]:
help(planetas.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [82]:
type(planetas)

list

In [81]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [83]:
help(append)

NameError: name 'append' is not defined

`list.pop()` remueve y devuelve el último elemento de una lista:

In [84]:
# Que Plutón siempre no es un planeta
planetas.pop()

'plt'

In [85]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [86]:
ultimo_elemento_p = planetas.pop()

In [87]:
ultimo_elemento_p

'Neptuno'

In [88]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano']

In [89]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [91]:
plt = planetas.pop(1)
plt

'Venus'

In [92]:
planetas

['Mercurio', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano']

### 1.4.1 Buscando en listas

¿En qué lugar de los planetas se encuentra la Tierra? Podemos obtener su índice usando el método `list.index()`:

In [94]:
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [95]:
# índice del planeta tierra
planetas.index('Tierra')

2

In [97]:
planetas[2]

'Tierra'

Está en el tercer lugar (recordar que el indizado en Python comienza en cero)

¿En qué lugar está Plutón?

In [98]:
# índice del planeta plutón
planetas.index('pluton')

ValueError: 'pluton' is not in list

<font color=red> Error ... </font> ¡como debe ser!

Para evitar este tipo de errores, existe el operador `in` para determinar si un elemento particular pertenece a una a una lista:

In [99]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno']

In [102]:
# ¿Es la Tierra un planeta?
'Tierra' in planetas

True

In [104]:
# ¿Es Plutón un planeta?
'Pluton' in planetas

False

In [105]:
# Usar esto para evitar el error de arriba
if 'Pluton' in planetas:
    indeice = planetas.index('Pluton')
else:
    print('Pluton no es un planeta')

Pluton no es un planeta

In [108]:
def is_planet(plt, planetas):
    """
    Esta función regresa el indice de la lista planetas si plt esta dentro de la lista planetas
    
    """
    indice = None
    if plt in planetas:
        indice = planetas.index(plt)
    else:
        print(f'{plt} no es un planeta')
        
    return indice

In [110]:
is_planet('Venus', planetas)

1

In [112]:
is_planet('Tierra', ['Tierra', 'Marte'])

0

Hay otros métodos interesantes de las listas que no veremos. Si quieren aprende más acerca de todos los métodos y atributos de un objeto particular, podemos llamar la función `help()` sobre el objeto.

Por ejemplo:

In [113]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## 1.5 Tuplas

También son arreglos de objetos similares a las listas. Se diferencian en dos maneras:

- La sintaxis para crear tuplas usa paréntesis (o nada) en vez de brackets:

In [114]:
l = [1,2,3]
l2 =['s',help,l]

In [115]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [116]:
# O equivalentemente
t1 = 1,2,3,4,5

In [117]:
print(planetas), print(primos)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
[2, 5, 3, 7]

(None, None)

- Las tuplas, a diferencia de las listas, no pueden ser modificadas (son objetos inmutables):

In [119]:
# Intentar modificar una tupla
t1

(1, 2, 3, 4, 5)

In [121]:
t1[0:4]

(1, 2, 3, 4)

In [123]:
l[0] =100
l

[100, 2, 3]

In [124]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

Las tuplas son usadas comúnmente para funciones que devuelven más de un valor.

Por ejemplo, el método `as_integer_ratio()` de los objetos `float`, devuelve el numerador y el denominador en la forma de una tupla:

In [125]:
# as_integer_ratio
t3 = 0.25.as_integer_ratio()
t3

(1, 4)

In [126]:
1/4

0.25

In [127]:
def suma_resta_lista(l1,l2):
    a = l1 + l2
    b = l1*3
    return (a,b)

In [128]:
suma_resta_lista([2,1,3], [1,2])

([2, 1, 3, 1, 2], [2, 1, 3, 2, 1, 3, 2, 1, 3])

In [129]:
# Ayuda en el método float.as_integer_ratio
help(float.as_integer_ratio)

Help on method_descriptor:

as_integer_ratio(self, /)
    Return integer ratio.

    Return a pair of integers, whose ratio is exactly equal to the original float
    and with a positive denominator.

    Raise OverflowError on infinities and a ValueError on NaNs.

    >>> (10.0).as_integer_ratio()
    (10, 1)
    >>> (0.0).as_integer_ratio()
    (0, 1)
    >>> (-.25).as_integer_ratio()
    (-1, 4)

También pueden ser usadas como un atajo:

In [132]:
num,den = (10.0).as_integer_ratio()

In [133]:
num

10

In [134]:
den

1

In [135]:
num,den

(10, 1)

In [136]:
a = (1,2)
b = (0,'A')

a,b = b ,a
print(a,b)

(0, 'A') (1, 2)

In [ ]:
3316027392

# 2. Ciclos o iteraciones

## 2.1 Ciclos `for`

Las iteraciones son una manera de ejecutar cierto bloque de código repetidamente:

In [ ]:
# Planetas, de nuevo

In [ ]:
# Imprimir todos los planetas en la misma línea

Para construir un ciclo `for`, se debe especificar:

- el nombre de la variable que va a iterar (planeta),

- el conjunto de valores sobre los que va a iterar la variable (planetas).

Se usa la palabra `in`, en este caso, para hacerle entender a Python que *planeta* va a iterar sobre *planetas*.

El objeto a la derecha de la palabra `in` puede ser cualquier objeto **iterable**. Básicamente, un iterable es cualquier arreglo (listas, tuplas, conjuntos, arreglos de numpy, series de pandas...).

Por ejemplo, queremos hallar la multiplicación de todos los elementos de la siguiente tupla.

In [ ]:
# Multiplicación como ciclo

Incluso, podemos iterar sobre los caracteres de un string:

In [ ]:

# Imprimir solo los caracteres en mayúscula, sin espacios, uno seguido de otro

### 2.1.1 Función `range()`

La función `range()` es una función que devuelve una secuencia de números. Es extremadamente útil para escribir ciclos for.

Por ejemplo, si queremos repetir una acción 5 veces:

In [ ]:
# For de 5 iteraciones

**Actividad:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `for`.

In [ ]:
# Código aquí

## 2.2 Ciclos `while`

Son otro tipo de ciclos en Python, los cuales iteran hasta que cierta condición deje de cumplirse.

Por ejemplo:

El argumento de un ciclo `while` se evalúa como una condición lógica, y el ciclo se ejecuta hasta que dicha condición sea **False**.

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `while`.

2. Escribir una función que devuelva los elementos menores a cierto número $x$ de la sucesión de Fibonacci, usando un ciclo `while`.

In [ ]:
fibonacci_while(10)

## Pausa: Recursión

Una manera adicional de ejecutar iteraciones se conoce como *recursión*, y sucede cuando definimos una función en términos de sí misma.

Por ejemplo, el $n$-ésimo número de la secuencia de Fibonacci, recursivamente sería:

## 2.3 List comprehensions (no encuentro una traducción suficientemente buena de esto)

List comprehension son una de las características más chidas de Python. La manera más fácil de entenderla, como muchas cosas, es revisando ejemplos:

In [ ]:
# Primero, con ciclo for: listar los cuadrados de los 10 dígitos

In [ ]:
# Ahora con una list comprehension

Podemos agregar, incluso, condicionales:

In [ ]:
# Ejemplo con los planetas

Se puede usar para dar formato:

In [ ]:
# str.upper()

Es supremamente importante aprender esto, ya que es ampliamente utilizado y ayuda a reducir muchísimas líneas de código.

Ejemplo: escribir la siguiente función usando un ciclo for.

Ahora, con list comprehensions:

In [ ]:
# Probar la función

# 3. Strings y diccionarios

## 3.1 Strings

Si hay algo en lo que Python es la ley es manipulando Strings. En esta sección veremos algunos de los métodos de los objetos tipo string, y operaciones de formateo (muy útiles en la limpieza de bases de datos, por cierto).

### 3.1.1 Sintaxis string

Ya hemos visto varios ejemplos involucrando strings anteriormente. Solo para recordar:

Hay casos particulares para preferir una u otra:

- Las comillas dobles son convenientes si tu string contiene un apóstrofe.

- De manera similar, se puede crear fácilmente un string que contiene comillas dobles englobándolo en comillas simples.

Ejemplos:

### 3.1.2 Los strings son iterables

Los objetos tipo strings son cadenas de caracteres. Casi todo lo que vimos que le podíamos aplicar a una lista, se lo podemos aplicar a un string.

In [ ]:
# string de ejemplo

In [ ]:
# Indexado

In [ ]:
# Indexado multiple

In [ ]:
# ¿Cuántos caracteres tiene?

In [ ]:
# También podemos iterar sobre ellos

Sin embargo, una diferencia principal con las listas, es que son inmutables (no los podemos modificar).

### 3.1.3 Métodos de los strings

Como las listas, los objetos tipo `str` tienen una gran cantidad de métodos útiles.

Veamos algunos:

In [ ]:
# string de ejemplo

In [ ]:
# EN MAYÚSCULAS

In [ ]:
# en minúsculas

In [ ]:
# pregunta: comienza con?

In [ ]:
# pregunta: termina con?

#### Entre listas y strings: métodos `split()` y `join()`

El método `str.split()` convierte un string en una lista de strings más pequeños.

Esto es supremamente útil para tomar de un string cada una de sus palabras:

O para obtener cierta información:

In [ ]:
# Año, mes y día de una fecha especificada como string

`str.join()` nos sirve para devolver los pasos. 

Teniendo una lista de pequeños strings, la podemos convertir en un solo string usando el string sobre el que se llama como separador:

In [ ]:
# Con la fecha...

### 3.1.4 Concatenación de strings

Python nos permite concatenar strings con el operador `+`:

In [ ]:
# Ejemplo

Sin embargo, hay que tener cuidado:

In [ ]:
# Concatenar un string con un número

## 3.2 Diccionarios

Los diccionarios son otros objetos de Python que mapean llaves a elementos:

En este caso, los strings "uno", "dos", y "tres" son las llaves, y los números 1, 2 y 3 son sus valores correspondientes.

Los valores son accesados con brackets, similarmente a las listas:

Usamos una sintaxis similar para añadir otro par llave, valor

O cambiar el valor asociado a una llave existente

### Navegando entre listas, tuplas, diccionarios: `zip`

Supongamos que tenemos dos listas que se corresponden:

¿Cómo puedo asociar estos valores en un diccionario? Con `zip`:

In [ ]:
# Primero, obtener la lista de pares

In [ ]:
# Después obtener diccionario de relaciones

Al ser los diccionarios iterables, puedo iterar sobre ellos (valga la redundancia)

In [ ]:
# Iterar sobre diccionario

In [ ]:
# Iterar sobre valores

In [ ]:
# Iterar sobre pares llave-valor

___
- Quiz 1. Comprende clases 1 y 2.